/* Estilos pagina del ciclo de agua */

/* Selector Universal */
* {

    padding: 0;
    margin: 0;

}

/* Selector de etiqueta */

body {

    background-color:  #f1ecea;
    color: white;

}

/* Selector de clases */

.img {

    width: 100px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;

}

.texto {

    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20.25px;
    padding: 5px 25px;
    color: #000;

}

.encabezado-articulo-face {

    padding: 10px;
    text-align: center;
    background-color: #0080FF;
    color: rgb(255, 255, 255);
    margin: 1em 2em;

}

.encabezado-articulo-yt {

    padding: 10px;
    text-align: center;
    background-color: #FF0000;
    color: rgb(255, 255, 255);
    margin: 1em 2em;

}

.encabezado-articulo-twitter {

    padding: 10px;
    text-align: center;
    background-color: #0080FF;
    color: rgb(255, 255, 255);
    margin: 1em 2em;

}

.textoFB {

    padding: 10px;
    text-align: center;
    background-color: #A4E9F7;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}

.textoYT {

    padding: 10px;
    text-align: center;
    background-color: #F7A4A4;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}

.textoTWT {

    padding: 10px;
    text-align: center;
    background-color: #A4E9F7;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}

.textoTW {

    padding: 10px;
    text-align: center;
    background-color: #D8A4F7;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}

.encabezado-articulo-twitch {

    padding: 10px;
    text-align: center;
    background-color: #9300FF;
    color: rgb(255, 255, 255);
    margin: 1em 2em;

}

.encabezado-aside {

    padding: 10px 10px;
    text-align: center;
    background-color: #9E9C9E;
    color: white;
    margin: 1em 2em;

}

.menu-aside {

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;

}

.lista-aside {

    text-align: center;
    padding: 10px;

}

.lista-aside li {

    display: flex;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 0 2px;
    color: white;

}

/* Selector ID */

#contenedor {

    width: 900px;
    height: 3000px;
    background-color: #CDCBCF;
    max-width: 0 auto;
    border-radius: 5px;

}

#encabezado {

    width: 80%;
    background-color: #4D4B4E;
    margin: 1em;
    padding: 0 50px;

}

#menu {

    height: 2%;
    background-color: #9E9C9E;
    margin: 1em;
    border-radius: 5px;

}

#contenido {

    height: 95%;
    width: 58%;
    background-color: #F0F0F0;
    margin: 0.5em;
    display: inline-block;
    text-align: center;

}

#fueraSeccion {

    height: 95%;
    width: 35%;
    background-color: #4D4B4E;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;

}

#pie {

    height: 1%;
    background-color: #9E9C9E;
    text-align: center;
    padding: 5px;

}

#pie h4 {

    padding: 15px;
    font-size: 30px;

}

/* Selector de etiquetas */

ul {

    padding: 15px;
    font-size: 20px;

}

li {

    display: inline;
    padding: 10px 30px;
    margin: 1em;

}

/* Selector de evento */

li a:hover {

    color: crimson;
    text-decoration: none;
    list-style: none;

}