/* Estilos pagina café */

/* Selector Universal */
* {

    padding: 0;
    margin: 0;

}

/* Selector de etiqueta */

body {

    background-color:  #f1ecea;
    color: white;

}

ul {

    padding: 15px;
    font-size: 20px;
    list-style: circle;

}

li {

    display: inline;
    padding: 10px 10px;
    margin: 3em;
    list-style: none;
    text-decoration: none;

}

a {

    text-decoration: none;
    
}

/* Selector ID */

#fueraSeccion {

    height: 120%;
    width: 103%;
    background-color: #b58c7c;
    vertical-align: top;

}

#contenedor {

    width: 900px;
    height: 1000px;
    background-color: #f1ecea ;
    margin: 0 auto;
    max-width: 0 auto;
    border-radius: 5px;

}

#contenido {

    height: 120%;
    background-color: #362f2f;
    text-align: center;
    justify-content: center;

}

#encabezado {

    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    color: white;
    background-color:  #3a251c;

}

#menu {

    height: 5%;
    background-color: #b46424;

}

#pie {

    height: 10%;
    width: 890px;
    background-color:  #3a251c;
    text-align: center;
    padding: 5px;

}

/* Selector de clases */

.grid-aside {

    display: grid;
    grid-template-columns: 64% 35%;

}

.texto {

    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 10px 50px;
    color: white;

}

.texto-aside {

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 10px 60px;
    color: white;

}

.lista-aside {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: white;

}

.img {

    width: 100px;
    height: 100px;
    justify-items: center;
    border: 1px solid;

}

/* Selector de evento */

li a:hover {

    color: crimson;
    text-decoration: none;
    list-style: none;

}